/**
 * Theme variables
 *
 * @since 1.0.0
 */



/* Colors declared in /theme.json */
$primary:           var(--wp--preset--color--primary);
$primary__dark:     var(--wp--preset--color--primary-dark);
$primary__light:    var(--wp--preset--color--primary-light);
$secondary:         var(--wp--preset--color--secondary);
$secondary__dark:   var(--wp--preset--color--secondary-dark);
$secondary__light:  var(--wp--preset--color--secondary-light);
$white:             var(--wp--preset--color--white);
$black:             var(--wp--preset--color--black);
$grey:              var(--wp--preset--color--grey);
$grey__light:       var(--wp--preset--color--grey-light);
$grey__dark:        var(--wp--preset--color--grey-dark);

$text__light: $white;
$text__dark: $black;

$gap: 50rem;

$border_radius: 2px;

$width__narrow: 800px;
$width__contained: 1024px;
$width__default: 1330px;
